//
    Search meta
title=meta ? meta.title : config.company.meta.title
meta(name='title' content=meta ? meta.title : config.company.meta.title)
meta(name='description', content=meta ? meta.description : config.company.meta.description)
meta(name='keywords', content=meta ? meta.keywords : config.company.meta.keywords)
meta(name='author', content=meta ? meta.author : config.company.meta.author)
meta(name='thumbnail', content=meta ? meta.images.medium : config.company.meta.thumbnail)
//
    Twitter Card
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='username')
    meta(name='twitter:title', content=meta ? meta.title : 'title')
    meta(name='twitter:url', content=meta ? meta.url : 'http://example.com')
    meta(name='twitter:description', content=meta ? meta.description : 'description')
    meta(name='twitter:creator', content=meta ? '@' + meta.username : 'username')
    meta(name='twitter:image:src', content=meta ? meta.images.medium : 'http://example.com/image')
    meta(name='twitter:domain', content=meta ? meta.url : 'http://booklaunch.io')
//
    Facebook OG
    meta(property='og:site_name', content='example.com')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content=meta ? meta.url : 'http://example.com')
    meta(property='og:title', content=meta ? meta.title : 'title')
    meta(property='og:description', content=meta ? meta.description : 'description')
    meta(property='og:image', content=meta ? meta.images.medium : 'http://example.com/image')
    meta(property='fb:app_id', content='appid')
//
    Mobile meta
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1')
//
    Favicon
link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-touch-icon-152x152.png')
link(rel='icon', type='image/png', href='/images/favicon/favicon-196x196.png', sizes='196x196')
link(rel='icon', type='image/png', href='/images/favicon/favicon-160x160.png', sizes='160x160')
link(rel='icon', type='image/png', href='/images/favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='/images/favicon/favicon-16x16.png', sizes='16x16')
link(rel='icon', type='image/png', href='/images/favicon/favicon-32x32.png', sizes='32x32')
meta(name='msapplication-TileColor', content='#2b5797')
meta(name='msapplication-TileImage', content='/images/favicon/mstile-144x144.png')